<h4> Paper Checkbox </h4>

<paper-checkbox checked="" (click)="function()">True</paper-checkbox>
<paper-checkbox>False</paper-checkbox>

<hr>

<paper-checkbox checked>Checked</paper-checkbox>
<paper-checkbox class="styled">
  Checkbox
  <span class="subtitle">
    With a longer label
  </span>
</paper-checkbox>
<paper-checkbox disabled>Disabled</paper-checkbox>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude"></code>
<br />
<br />
