<h4> Paper Toggle Button </h4>

<paper-toggle-button checked="" class="blue"></paper-toggle-button>
<span>Oxygen</span>
<br />
<paper-toggle-button class="red"></paper-toggle-button>
<span>Carbon</span>
<br />
<paper-toggle-button class="orange"></paper-toggle-button>
<span>Hydrogen</span>
<br />
<paper-toggle-button checked="" class="green"></paper-toggle-button>
<span>Nitrogen</span>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude"></code>
<br />
<br />
