/*
 * Input's paper-toggle-button | paper-progress | paper-slider |
 */

  paper-toggle-button.orange {
--paper-toggle-button-checked-bar-color:  var(--paper-orange-500);
--paper-toggle-button-checked-button-color:  var(--paper-orange-500);
--paper-toggle-button-checked-ink-color: var(--paper-orange-500);
--paper-toggle-button-unchecked-bar-color:  var(--paper-orange-900);
--paper-toggle-button-unchecked-button-color:  var(--paper-orange-900);
--paper-toggle-button-unchecked-ink-color: var(--paper-orange-900);
  }
  paper-toggle-button.blue {
--paper-toggle-button-checked-bar-color:  var(--paper-light-blue-500);
--paper-toggle-button-checked-button-color:  var(--paper-light-blue-500);
--paper-toggle-button-checked-ink-color: var(--paper-light-blue-500);
--paper-toggle-button-unchecked-bar-color:  var(--paper-light-blue-900);
--paper-toggle-button-unchecked-button-color:  var(--paper-light-blue-900);
--paper-toggle-button-unchecked-ink-color: var(--paper-light-blue-900);
  }
  paper-toggle-button.red {
--paper-toggle-button-checked-bar-color:  var(--paper-red-500);
--paper-toggle-button-checked-button-color:  var(--paper-red-500);
--paper-toggle-button-checked-ink-color: var(--paper-red-500);
--paper-toggle-button-unchecked-bar-color:  var(--paper-red-900);
--paper-toggle-button-unchecked-button-color:  var(--paper-red-900);
--paper-toggle-button-unchecked-ink-color: var(--paper-red-900);
  }
  paper-toggle-button.green {
--paper-toggle-button-checked-bar-color:  var(--paper-green-500);
--paper-toggle-button-checked-button-color:  var(--paper-green-500);
--paper-toggle-button-checked-ink-color: var(--paper-green-500);
--paper-toggle-button-unchecked-bar-color:  var(--paper-green-900);
--paper-toggle-button-unchecked-button-color:  var(--paper-green-900);
--paper-toggle-button-unchecked-ink-color: var(--paper-green-900);
  }
