<h1>
  <img [src]="logo" width="50px"/>
  {{title}}
</h1>
<small>
   {{titleMotto}}
</small>
<hr />

<app-paper-button></app-paper-button>


<hr />

<app-paper-input></app-paper-input>

<hr />
<br />

<app-paper-checkbox></app-paper-checkbox>

<hr />
<br />

<app-paper-toggle-btn></app-paper-toggle-btn>

<hr />
<br />

<app-paper-progress></app-paper-progress>

<hr />
<br />

<app-paper-slider></app-paper-slider>


<hr />
<br />

<app-paper-styles></app-paper-styles>

<hr />
<br />

<app-paper-item></app-paper-item>
