<h4> Paper Styles </h4>
<small>
  Shared styles for Material Design elements
  <a href="https://github.com/PolymerElements/paper-styles" target="_blank">Paper Styles Full List</a>
</small>


<h5>Fonts</h5>
<div class="redlines">
  <div class="paper-font-display4">Display 4</div>
  <div class="paper-font-display3">Display 3</div>
  <div class="paper-font-display2">Display 2</div>
  <div class="paper-font-display1">Display 1</div>
  <div class="paper-font-headline">Headline</div>
  <div class="paper-font-title">Title</div>
  <div class="paper-font-subhead">Subhead</div>
  <div class="paper-font-body2">Body 2</div>
  <div class="paper-font-body1">Body 1</div>
  <div class="paper-font-caption">Caption</div>
  <div class="paper-font-menu">Menu</div>
  <div class="paper-font-button">Button</div>
</div>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude"></code>
<br />

<br />
<hr />

<h5>Font Paragraphs</h5>

<p class="redlines paper-font-body1">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt dui sit amet mi auctor, ac gravida magna aliquam. Fusce quis purus elementum, tempus nisi vel, volutpat nulla. Vestibulum mollis dictum tellus, vulputate porttitor arcu. Curabitur
  imperdiet risus id egestas accumsan. Donec lectus felis, dignissim id iaculis sit amet, faucibus in leo.
</p>

<p class="redlines paper-font-body2">
  Mauris id urna ac ante ultrices commodo a imperdiet elit. Vivamus interdum neque magna, eget dapibus est auctor et. Donec accumsan libero nec augue scelerisque, ac egestas ante tincidunt. Proin sollicitudin, mi eget sagittis mollis, arcu orci scelerisque
  turpis, a sollicitudin tellus quam non sapien.
</p>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement_2"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude"></code>

<br />
<hr />

<h5>Shadows</h5>

<div class="shadow shadow-2dp">2dp</div>
<div class="shadow shadow-3dp">3dp</div>
<div class="shadow shadow-4dp">4dp</div>
<div class="shadow shadow-6dp">6dp</div>
<div class="shadow shadow-8dp">8dp</div>
<div class="shadow shadow-12dp">12dp</div>
<div class="shadow shadow-16dp">16dp</div>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement_3"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude_3"></code>

<br />
<hr />

<h5>Element shared styles: paper-material</h5>

<div class="paper-material" elevation="1">1</div>
<div class="paper-material" elevation="2">2</div>
<div class="paper-material" elevation="3">3</div>
<div class="paper-material" elevation="4">4</div>
<div class="paper-material" elevation="5">5</div>

<custom-style>
  <style is="custom-style" include="paper-material-styles">
    .paper-material {
      padding: 16px;
      margin: 0 16px;
      display: inline-block;
    }
  </style>
</custom-style>

<h5> Reusable Code:</h5>

<code [innerHTML]="polymerElement_4"></code>
<br />
<br />

<h5>Included files:</h5>

<code [innerHTML]="polymerElementInclude_4"></code>
